# Build results
/BuildOutput
*.log
*_assemblyinfo.txt
*.feedback
/alias.txt

# CMSIS and CMSIS_RTX
/CMSIS/CMSIS/
/CMSIS/Device/*
/CMSIS/ARM.CMSIS.pdsc
!/CMSIS/CMSIS/RTOS/RTX/dotNetMF.proj

# Visual Studio
*.aps
*.[Cc]ache
*.ilk
*.ncb
*.[Oo]bj
*.opensdf
*.pch
*.sbr
*.sdf
*.sln.docstates
*.suo
*.vspscc
*.vssscc
*.user
[Bb]in/
[Oo]bj/
ipch/

!/tools/bin/

#uVision
*.uvguix*
Listings/
{*/

# WinPCAP
/DeviceCode/Targets/OS/Win32/DeviceCode/WinPcap_Eth/Dependencies/WpdPack/

*.axfdump
/crypto/lib
Firmware License (Crypto).rtf
License (Crypto).rtf
PKCryptoWelcome.rtf
REDIST_CRYPTO.TXT
ReleaseNotesCrypto.txt
*.tlog
/Solutions/Windows/TinyCLR/Debug
/Solutions/Windows/TinyCLR/FLASH_MEMORY.bin
*.opendb
*.dbgconf

# STM32 Cube
STM32Cube/*
!STM32Cube/ReadMe.m

# CMSIS PAL and HAL folders
DeviceCode/Targets/Native/*/HAL_Driver
DeviceCode/Targets/Native/*/USB/STM32_USB_Device_Library
!DeviceCode/Targets/Native/*.proj
!DeviceCode/Targets/Native/*.settings
